.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--light-color);
  padding: 25px 54px;
  min-width: 260px;

  &--dark {
    background: var(--dark-color);
  }
}
